In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('ggplot')

# %% line plot
df = pd.DataFrame(np.random.randn(500, 3), columns=list('XYZ'),
                  index=pd.date_range('1/1/2016', periods=500))

df = df.cumsum()
ax = df.plot(colormap='gray', fontsize=14)
ax.set_ylabel('Value', fontsize=14)

# %% bar plot
df2 = pd.DataFrame(np.random.rand(5, 3),
                   columns=['a', 'b', 'c'])
df2

          a         b         c
0  0.651614  0.640996  0.983566
1  0.826436  0.129177  0.585051
2  0.878134  0.181043  0.162499
3  0.367320  0.252704  0.921172
4  0.115527  0.825121  0.997063

In [2]:
df2.plot(kind='bar', stacked=True, colormap='gray', fontsize=14)