In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('ggplot')

# %% line plot
df = pd.DataFrame(np.random.randn(500, 3), columns=list('XYZ'),
                  index=pd.date_range('1/1/2016', periods=500))
print(df.shape)
df

(500, 3)

                   X         Y         Z
2016-01-01  0.625410 -0.527898  1.364273
2016-01-02 -0.893570  0.094343  1.832723
2016-01-03 -0.073018 -0.749565  0.167189
2016-01-04 -0.585547  0.674943  3.085508
2016-01-05  0.123367  0.578873  0.133930
2016-01-06 -1.434362 -0.763767  0.594830
2016-01-07  0.847010 -0.108050 -0.097866
2016-01-08 -1.007811  0.071151  1.502729
2016-01-09  0.612704  0.076865 -1.174092
2016-01-10  0.154736  1.000504 -0.225179
2016-01-11 -1.388274  0.384514 -0.188686
2016-01-12 -0.048407 -0.953665 -1.511442
2016-01-13  1.280642  1.072890  0.518374
2016-01-14  1.111176  1.321918 -0.136116
2016-01-15  1.005885 -1.026028  0.668228
2016-01-16 -1.072446  1.612131  1.084132
2016-01-17  2.155359 -0.559477  0.859339
2016-01-18  0.884993 -0.235319  0.852642
2016-01-19  0.180823 -1.879338 -0.108026
2016-01-20 -0.660024  0.359211 -1.302083
2016-01-21  1.725955  2.798199 -1.136671
2016-01-22  0.847332  1.151585 -0.378212
2016-01-23 -0.304578 -1.838386  0.463622
2016-01-24  0.005125 -0.938091 -0.574634
2016-01-25 -0.577363 -2.799850  0.466830
2016-01-26  0.190463 -0.526161 -0.394869
2016-01-27 -0.657226 -0.897592 -0.527020
2016-01-28  0.775820 -1.474589  0.175404
2016-01-29 -0.138132  1.443298  1.234513
2016-01-30 -0.270373  0.919780 -0.706657
...              ...       ...       ...
2017-04-15 -0.238283  1.390132 -0.313388
2017-04-16 -0.484826 -0.487758  1.203982
2017-04-17 -1.272454 -0.276389 -0.154520
2017-04-18 -1.903429 -0.205042  1.271671
2017-04-19 -0.773572  1.294078  2.359403
2017-04-20 -1.531294  1.092753 -1.061467
2017-04-21 -0.381053  0.649385 -0.981015
2017-04-22 -0.005720  1.796819 -0.986270
2017-04-23  1.739048  1.159424  1.845777
2017-04-24  2.384433 -0.711580  0.105600
2017-04-25  1.039235 -0.762278 -0.684705
2017-04-26 -1.184101  0.875331  1.058933
2017-04-27  0.340927 -0.955200  0.288304
2017-04-28  0.141476  0.882747  0.822727
2017-04-29  1.013060 -0.008179 -0.404349
2017-04-30  0.897701  1.242575  0.281034
2017-05-01 -0.133619 -1.461202 -0.278675
2017-05-02 -1.124626 -0.114833  1.448148
2017-05-03 -1.304667  0.841547  0.839187
2017-05-04 -0.019931  1.460112  2.064024
2017-05-05 -1.287360 -0.309263  0.822447
2017-05-06  0.255633 -0.040074  2.326396
2017-05-07  0.614277 -0.658407  0.495856
2017-05-08  1.437220  0.171062 -1.841357
2017-05-09 -1.789682  0.123848 -1.014732
2017-05-10 -0.082089 -0.491695 -2.168132
2017-05-11 -0.222720 -0.320909 -0.939588
2017-05-12  2.167976  1.571086 -0.078375
2017-05-13  0.168929  1.359052 -0.504848
2017-05-14  1.361861  0.391798 -0.808563

[500 rows x 3 columns]

In [17]:
df = df.cumsum()
# print(df.shape)
df

                      X            Y           Z
2016-01-01     0.625410    -0.527898    1.364273
2016-01-02     0.357251    -0.961454    4.561269
2016-01-03     0.016073    -2.144575    7.925454
2016-01-04    -0.910652    -2.652752   14.375146
2016-01-05    -1.714010    -2.582056   20.958768
2016-01-06    -3.951730    -3.275128   28.137220
2016-01-07    -5.342440    -4.076250   35.217806
2016-01-08    -7.740962    -4.806222   43.801121
2016-01-09    -9.526779    -5.459328   51.210344
2016-01-10   -11.157861    -5.111930   58.394388
2016-01-11   -14.177217    -4.380019   65.389745
2016-01-12   -17.244979    -4.601772   70.873661
2016-01-13   -19.032100    -3.750635   76.875951
2016-01-14   -19.708045    -1.577580   82.742125
2016-01-15   -19.378104    -0.430553   89.276528
2016-01-16   -20.120610     2.328605   96.895062
2016-01-17   -18.707757     4.528286  105.372935
2016-01-18   -16.409910     6.492648  114.703450
2016-01-19   -13.931241     6.577672  123.925940
2016-01-20   -12.112596     7.021907  131.846347
2016-01-21    -8.567996    10.264341  138.630083
2016-01-22    -4.176063    14.658360  145.035606
2016-01-23    -0.088708    17.213993  151.904752
2016-01-24     4.003771    18.831536  158.199263
2016-01-25     7.518888    17.649228  164.960604
2016-01-26    11.224467    15.940758  171.327076
2016-01-27    14.272820    13.334697  177.166527
2016-01-28    18.096992     9.254046  183.181383
2016-01-29    21.783033     6.616693  190.430751
2016-01-30    25.198700     4.899120  196.973463
...                 ...          ...         ...
2017-04-15  4431.405866 -8161.024291  961.517164
2017-04-16  4427.774699 -8182.965835  944.474456
2017-04-17  4422.871077 -8205.183768  927.277229
2017-04-18  4416.064027 -8227.606743  911.351672
2017-04-19  4408.483404 -8248.735640  897.785518
2017-04-20  4399.371487 -8268.771785  883.157898
2017-04-21  4389.878517 -8288.158544  867.549264
2017-04-22  4380.379827 -8305.748484  850.954359
2017-04-23  4372.620184 -8322.179000  836.205233
2017-04-24  4367.244974 -8339.321096  821.561706
2017-04-25  4362.908999 -8357.225470  806.233474
2017-04-26  4357.388922 -8374.254513  791.964176
2017-04-27  4352.209772 -8392.238755  777.983182
2017-04-28  4347.172098 -8409.340251  764.824915
2017-04-29  4343.147483 -8426.449925  751.262299
2017-04-30  4340.020570 -8442.317026  737.980717
2017-05-01  4336.760038 -8459.645328  724.420460
2017-05-02  4332.374879 -8477.088464  712.308351
2017-05-03  4326.685054 -8493.690053  701.035430
2017-05-04  4320.975298 -8508.831530  691.826533
2017-05-05  4313.978182 -8524.282269  683.440083
2017-05-06  4307.236699 -8539.773083  677.380028
2017-05-07  4301.109494 -8555.922303  671.815831
2017-05-08  4296.419509 -8571.900461  664.410276
2017-05-09  4289.939841 -8587.754772  655.989989
2017-05-10  4283.378084 -8604.100777  645.401570
2017-05-11  4276.593608 -8620.767691  633.873563
2017-05-12  4271.977107 -8635.863519  622.267181
2017-05-13  4267.529536 -8649.600295  610.155951
2017-05-14  4264.443825 -8662.945273  597.236159

[500 rows x 3 columns]

In [18]:
ax = df.plot(colormap='gray', fontsize=14)
ax.set_ylabel('Value', fontsize=14)

In [15]:
# %% bar plot
df2 = pd.DataFrame(np.random.rand(5, 3),
                   columns=['a', 'b', 'c'])
df2

          a         b         c
0  0.368961  0.834745  0.591240
1  0.220568  0.283487  0.865337
2  0.325395  0.112973  0.011282
3  0.088526  0.955242  0.865984
4  0.506878  0.545391  0.228467

In [16]:
df2.plot(kind='bar', stacked=True, colormap='gray', fontsize=14)